.border-custom-primary {
  border: 1px solid #c62828; /* rojo */
}

.border-custom-warning {
  border: 1px solid #ef6c00; /* naranja */
}

.border-custom-success {
  border: 1px solid #fbc02d; /* amarillo */
}

.btn-primary-custom {
  background-color: #c62828; /* rojo */
  border-color: #c62828; /* rojo */
}

.btn-secondary-custom {
  background-color: #ef6c00; /* naranja */
  border-color: #ef6c00; /* naranja */
}

.btn-success-custom {
  background-color: #fbc02d; /* amarillo */
  border-color: #fbc02d; /* amarillo */
}

.text-primary-custom {
  color: #c62828; /* rojo */
}

.text-warning-custom {
  color: #ef6c00; /* naranja */
}

.text-success-custom {
  color: #fbc02d; /* amarillo */
}
