# Generate with:  python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=CHANGE_ME
DEBUG=True

POSTGRES_DB=corralon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

ADMIN_EMAIL=miguelromeroalcantara@smyt.gob.mx
ADMIN_PASSWORD=CHANGE_ME
OPERADOR_EMAIL=gamalielalexis@smyt.gob.mx
OPERADOR_PASSWORD=CHANGE_ME
CONSULTA_EMAIL=camilalunatepox@symt.gob.mx
CONSULTA_PASSWORD=CHANGE_ME
