POSTGRES_DB=corralon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ADMIN_EMAIL=admin@corralon.local
ADMIN_PASSWORD=Admin123!
OPERADOR_EMAIL=operador@corralon.local
OPERADOR_PASSWORD=Operador123!
CONSULTA_EMAIL=consulta@corralon.local
CONSULTA_PASSWORD=Consulta123!
