POSTGRES_DB=corralon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ADMIN_MASTER_EMAIL=adminmaster@gonac.com
ADMIN_MASTER_PASSWORD=12345
ADMIN_EMAIL=miguelromeroalcantara@gonac.com
ADMIN_PASSWORD=12345
OPERADOR_EMAIL=gamalielalexis@gonac.com
OPERADOR_PASSWORD=12345
CONSULTA_EMAIL=camilalunatepox@gonac.com
CONSULTA_PASSWORD=12345
